body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #fff;
}

.bg-dark{
    background-color: #141414 !important;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

.dropdown-item:hover{
    background-color: transparent;
}

.dropdown-item span:hover, header a.dropdown-item:hover{
    text-decoration: underline;
}

header, nav{
    padding: 0 4rem !important;
}

header #bottoni button, footer .container .row button{
    height: fit-content;
    border-color: grey!important;
    color: grey!important;
}

header #bottoni button:first-of-type{
    color: rgb(180, 180, 180)!important;
    border-color: rgb(180, 180, 180)!important;
}

main {
    padding: 0 4rem;
    min-height: 100vh;
}

#genre .dropdown-toggle, #genre .dropdown-menu {
    border-radius: 0px!important;
    
}
#genre button{
    border-color: grey!important;
}

#genre button:after{
    margin-left: 24px;
}

#kids{
    font-size: 14px;
    font-weight: bold;
}

section h3{
    font-size: 24px;
}

/* CAROSELLO */

.carousel-item{
    z-index: 1; /* imposta il livello del carosello su 1 che poi sarà modificato on l'hover */
}

.carousel-inner{
    overflow: clip visible !important; /* Serve a non tagliare le movie-cards all'ingrandimento con l'hover */
}

.movie-row img { /* proprietà immagini movie-card */
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.movie-row .movie-card{ /* proprietà movie-card */
    transition: all .2s ease;
    z-index: 100;
}

.carousel-item .movie-card .card-body { /* Body-card a comparsa */
    opacity: 0;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all .2s ease;
    background-color: #181818;
    border-radius: 0 0 4px 4px;
    width: 100%;
    z-index: 100;
}

.card-body svg{
    transform: scale(1.3);
    cursor: pointer;
    transition: all .2s ease;
}

.card-body svg:hover{
    fill: #fff;
}

.carousel-item:hover{
    z-index: 2; /* con il passaggio del mouse imposta un livello superiore agli altri due caroselli */
}

.carousel-item .movie-card:hover .card-body{ /* al passaggio del mouse mostra il body-card */
    opacity: 1;
    pointer-events: unset;
}

.movie-row .movie-card:hover{ /* al passaggio del mouse ingrandisce la movie-card */
    transform: scale(1.3) translateY(-50px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    z-index: 10000;
    transition-delay: .5s;
}

.movie-row .movie-card:hover .card-body{
    transition-delay: .5s; /* Imposta il delay solo in entrata e non in uscita */
}

.movie-row .movie-card:first-of-type:hover{
    transform: scale(1.3) translateY(-50px) translateX(30%); /* sposta le movie-card per evitare il conflitto con le frecce del carosello */
}

.movie-row .movie-card:last-of-type:hover{
    transform: scale(1.3) translateY(-50px) translateX(-30%); /* sposta le movie-card per evitare il conflitto con le frecce del carosello */
}

/* PREV/NEXT CAROUSEL BUTTONS */

.movie-row .movie-card:last-of-type:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(-90deg, #141414, transparent); /* imposta un gradiente sull'ultima movie-card della fila per dare un effetto di continuità con le altre righe del carosello */
    width: 50%;
    height: 100%;
}

.carousel button{
    width: 5% !important; /* riduce la larghezza delle frecce default di bootstrap */
    z-index: 2; /* posiziona le frecce sopra le movie-card */
}

/* FOOTER */

.footer-text{
    font-size: 13px;
    color: #808080;
}